@import 'uview-ui/theme.scss';

$uni-color-primary: #2277fc;
$uni-color-success: #28ba98;
$uni-color-warning: #d4ba83;
$uni-color-error: #F04A5A;
$uni-color-secondary:rgba(51,51,51,.06);
$uni-color-deepblue:#0d2758;
$uni-color-333:#333333;
$uni-color-black:#4d4d4d;
$uni-color-newblue:#e2eefd;



/* #ifdef APP-PLUS */
uni-page-body{
	font-size: calc(28rpx * 1.1);
}
/* #endif */

/* #ifdef APP-PLUS */
@for $i from 0 to 40 {
	$y: $i * 2;
	
	$z: $y * 1.1;
	
	// margin
	.m-#{$y} {
		margin: #{$z}rpx  !important;
	}
	.mx-#{$y} {
		margin-left: #{$z}rpx  !important;
		margin-right: #{$z}rpx  !important;
	}
	.ml-#{$y} {
		margin-left: #{$z}rpx  !important;
	}
	.mr-#{$y} {
		margin-right: #{$z}rpx  !important;
	}
	.my-#{$y} {
		margin-top: #{$z}rpx  !important;
		margin-bottom: #{$z}rpx  !important;
	}
	.mt-#{$y} {
		margin-top: #{$z}rpx  !important;
	}
	.mb-#{$y} {
		margin-bottom: #{$z}rpx  !important;
	}
	
	//padding
	.p-#{$y} {
		padding: #{$z}rpx  !important;
	}
	.px-#{$y} {
		padding-left: #{$z}rpx  !important;
		padding-right: #{$z}rpx  !important;
	}
	.pl-#{$y} {
		padding-left: #{$z}rpx  !important;
	}
	.pr-#{$y} {
		padding-right: #{$z}rpx  !important;
	}
	.py-#{$y} {
		padding-top: #{$z}rpx  !important;
		padding-bottom: #{$z}rpx  !important;
	}
	.pt-#{$y} {
		padding-top: #{$z}rpx  !important;
	}
	.pb-#{$y} {
		padding-bottom: #{$z}rpx  !important;
	}
	
	.grid-gap-#{$y}{
		grid-gap:#{$z}rpx  !important;
	}
	
	.z-index-#{$y}{
		z-index:#{$z}  !important;
	}

	@if $i > 8 {
		.font-size-#{$y} {
			font-size: #{$z}rpx  !important;
		}
	}
}
/* #endif */

/* #ifdef H5 */
@for $i from 0 to 40 {
	$y: $i * 2;
	
	$z: $y * 1;
	
	// margin
	.m-#{$y} {
		margin: #{$z}rpx  !important;
	}
	.mx-#{$y} {
		margin-left: #{$z}rpx  !important;
		margin-right: #{$z}rpx  !important;
	}
	.ml-#{$y} {
		margin-left: #{$z}rpx  !important;
	}
	.mr-#{$y} {
		margin-right: #{$z}rpx  !important;
	}
	.my-#{$y} {
		margin-top: #{$z}rpx  !important;
		margin-bottom: #{$z}rpx  !important;
	}
	.mt-#{$y} {
		margin-top: #{$z}rpx  !important;
	}
	.mb-#{$y} {
		margin-bottom: #{$z}rpx  !important;
	}
	
	//padding
	.p-#{$y} {
		padding: #{$z}rpx  !important;
	}
	.px-#{$y} {
		padding-left: #{$z}rpx  !important;
		padding-right: #{$z}rpx  !important;
	}
	.pl-#{$y} {
		padding-left: #{$z}rpx  !important;
	}
	.pr-#{$y} {
		padding-right: #{$z}rpx  !important;
	}
	.py-#{$y} {
		padding-top: #{$z}rpx  !important;
		padding-bottom: #{$z}rpx  !important;
	}
	.pt-#{$y} {
		padding-top: #{$z}rpx  !important;
	}
	.pb-#{$y} {
		padding-bottom: #{$z}rpx  !important;
	}
	
	.grid-gap-#{$y}{
		grid-gap:#{$z}rpx  !important;
	}
	
	.z-index-#{$y}{
		z-index:#{$z}  !important;
	}
	
	
	@if $i > 8 {
		.font-size-#{$y} {
			font-size: #{$z}rpx  !important;
		}
	}
}
/* #endif */