.mining {
	padding-bottom: .8rem
}

.mining .header_content {
	position: relative
}

.mining .header_content .bg_cover {
	position: absolute;
	top: 0;
	left: 0;
	height: 3rem;
	width: auto
}

.mining .header_content .header_title {
	padding-top: .28rem;
	position: relative;
	text-align: center;
	color: #fff
}

.mining .header_content .header_title .back {
	position: absolute;
	left: .4rem;
	top: 0;
	bottom: 0;
	margin: auto;
	width: .4rem
}

.mining .header_content .header_actions {
	position: absolute;
	right: .32rem;
	top: .48rem;
	display: flex;
	flex-direction: column
}

.mining .header_content .header_actions image {
	width: .9rem
}

.mining .header_content .header_actions image:last-child {
	margin-top: .24rem
}

.mining .mechine_list {
	margin-top: 3rem
}

.mining .mechine_list .list_title {
	padding: 0 .32rem;
	color: #000
}

.mining .mechine_list .list_content {
	margin-top: .56rem;
	padding: 0 .32rem;
	padding-bottom: .4rem;
	overflow: auto
}

.mining .mechine_list .list_content::-webkit-scrollbar {
	display: none
}

.mining .mechine_list .list_content .list_wrapper {
	display: flex;
	flex-wrap: nowrap
}

.mining .mechine_list .list_content .list_item {
	margin-top: .68rem;
	margin-right: .24rem;
	width: 3.76rem;
	background: #fff;
	box-shadow: .06rem .12rem .2rem 0 rgba(0, 0, 0, .1);
	border-radius: .15rem
}

.mining .mechine_list .list_content .list_item .mechine_icon {
	position: relative;
	top: -.68rem;
	width: 3.76rem
}

.mining .mechine_list .list_content .list_item .time_days {
	position: relative;
	top: -.52rem;
	left: .32rem;
	display: inline-block;
	height: .56rem;
	line-height: .56rem;
	padding: 0 .24rem;
	background: linear-gradient(90deg, #318af9, #1652f0);
	box-shadow: 2px 2px 10px 4px rgba(22, 82, 240, .25);
	border-radius: .1rem;
	color: #fff
}

.mining .mechine_list .list_content .list_item .mechine_name {
	position: relative;
	top: -.24rem;
	padding: 0 .32rem
}

.mining .mechine_list .list_content .list_item .mechine_name .icon_star {
	margin-top: .08rem;
	height: .16rem
}

.mining .mechine_list .list_content .list_item .rent_content {
	margin-top: .24rem;
	padding: 0 .32rem;
	padding-bottom: .5rem;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center
}

.mining .mechine_list .list_content .list_item .rent_content .rent_info .rent_num {
	margin-top: .12rem;
	color: rgba(91, 97, 110, .7)
}

.mining .mechine_list .list_content .list_item .rent_content .rent_info .rent_num .symbol {
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
	font-weight: 600;
	position: relative;
	top: -.08rem;
	font-size: .18rem
}

.mining .mechine_list .list_content .list_item .rent_content .rent_go image {
	width: .6rem
}

.mining .video_container {
	margin-top: .4rem;
	padding: 0 .32rem
}

.mining .video_container .video_content {
	padding: .32rem;
	border-radius: .2rem;
	border: 1px solid #d8d8d8
}

.mining .video_container .video_content .video_info {
	padding: .1rem .08 0 .08rem
}

.mining .video_container .video_content .video_info .tips {
	font-weight: 700;
	margin-top: .04rem
}

.mining .video_container .video_content .video_file {
	margin-top: .4rem
}

.mining .video_container .video_content .video_file iframe {
	border-radius: .1rem;
	width: 100%
}