.van-password-input {
	margin: 0
}

.van-password-input .van-password-input__security {
	display: flex;
	justify-content: space-between
}

.van-password-input .van-password-input__security li {
	width: .66rem;
	height: .8rem;
	border: 1px solid hsla(0, 0%, 59.2%, .51);
	border-radius: .1rem
}

.recharge {
	padding-bottom: 126rpx
}

.recharge .header {
	padding: 32rpx 40rpx;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center
}

.recharge .header .back {
	width: 32rpx;
	height: 32rpx;
}

.recharge .header .record {
	width: 40rpx;
	height: 40rpx;
}

.recharge .amount {
	margin-top: 16rpx;
	text-align: center
}

.recharge .amount .us_num {
	font-size: 64rpx;
	color: #353f52
}

.recharge .amount .coin_num {
	margin-top: 8rpx;
	display: flex;
	justify-content: center;
	align-content: center;
	align-items: center
}

.recharge .amount .coin_num .coin_icon {
	margin-right: 12rpx;
	width: 32rpx;
	height: 32rpx;
	border-radius: 50%
}

.recharge .switch_container {
	margin-top: 46rpx;
	padding-bottom: 56rpx;
	text-align: center;
	box-shadow: 0 5px 5px 0 hsla(0, 0%, 60%, .1)
}

.recharge .switch_container .switch_content {
	display: inline-block;
	background: #f5f6f8;
	border-radius: 20rpx;
	padding: 8rpx
}

.recharge .switch_container .switch_content .switch_item {
	display: inline-block;
	width: 214rpx;
	height: 72rpx;
	line-height: 72rpx;
	border-radius: 20rpx;
	font-size: 26rpx
}

.recharge .switch_container .switch_content .switch_item.active {
	background: #fff
}

.recharge .main_container {
	margin-top: 48rpx;
	padding: 0 52rpx
}

.recharge .main_container .main_content {
	box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, .1);
	border-radius: 30rpx;
	padding: 24rpx 24rpx 80rpx
}

.recharge .main_container .main_content .title {
	position: relative
}

.recharge .main_container .main_content .title .left_icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: -28rpx;
	margin: auto;
	display: inline-block;
	width: 8rpx;
	height: 40rpx;
	background: linear-gradient(1turn, rgba(90, 71, 217, .09), #71a8e0);
	border-radius: 4rpx
}

.recharge .main_container .main_content .coin_type {
	margin-top: 24rpx;
	display: flex
}

.recharge .main_container .main_content .coin_type .coin_item {
	margin-right: 24rpx;
	padding: 0 24rpx;
	height: 56rpx;
	line-height: 56rpx;
	text-align: center;
	font-size: 26rpx;
	color: #353f52;
	background: #f5f6f8;
	border-radius: 10rpx
}

.recharge .main_container .main_content .coin_type .coin_item.active {
	border: 1px solid #1652f0;
	box-sizing: border-box
}

.recharge .main_container .main_content .qr_content {
	margin-top: 66rpx;
	text-align: center
}

.recharge .main_container .main_content .qr_content .qr_code {
	width: 386rpx;
	height: 386rpx
}

.recharge .main_container .main_content .qr_content .address {
	margin-top: 24rpx
}

.recharge .main_container .main_content .qr_content .copy {
	margin-top: 32rpx
}

.recharge .main_container .main_content .input_content {
	padding: 0 8rpx
}

.recharge .main_container .main_content .input_content .address {
	margin-top: 44rpx;
	position: relative;
	height: 94rpx;
	line-height: 94rpx;
	background: #f3f4f6;
	border-radius: 20rpx
}

.recharge .main_container .main_content .input_content .address.swap {
	margin-top: 32rpx
}

.recharge .main_container .main_content .input_content .address input {
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	background: 0 0;
	border-radius: 20rpx;
	color: #353f52;
	caret-color: #1652f0
}

.recharge .main_container .main_content .input_content .address input:focus {
	border: 1px solid #1652f0
}

.recharge .main_container .main_content .input_content .address input::-moz-placeholder {
	color: rgba(95, 103, 117, .3)
}

.recharge .main_container .main_content .input_content .address input:-ms-input-placeholder {
	color: rgba(95, 103, 117, .3)
}

.recharge .main_container .main_content .input_content .address input::placeholder {
	color: rgba(95, 103, 117, .3)
}

.recharge .main_container .main_content .input_content .address input.address_input {
	padding: 0 32rpx
}

.recharge .main_container .main_content .input_content .address input.amount_input {
	padding: 0 196rpx 0 88rpx
}

.recharge .main_container .main_content .input_content .address .icon_delete {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 32rpx;
	margin: auto;
	width: 32rpx
}

.recharge .main_container .main_content .input_content .address .coin_icon {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 32rpx;
	margin: auto;
	width: 32rpx;
	border-radius: 50%
}

.recharge .main_container .main_content .input_content .address .coin_sympol {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 32rpx;
	margin: auto;
	color: rgba(95, 103, 117, .3)
}

.recharge .main_container .main_content .input_content .address .coin_sympol.active {
	color: #353f52
}

.recharge .main_container .main_content .input_content .address .swap_list_container {
	position: absolute;
	top: 96rpx;
	left: 0;
	width: 100%;
	height: 300rpx;
	overflow: auto;
	background: #f3f4f6;
	border-radius: 20rpx;
	padding: 0 32rpx;
	box-sizing: border-box
}

.recharge .main_container .main_content .input_content .address .swap_list_container .swap_list_item {
	position: relative;
	display: flex;
	align-items: center;
	border-bottom: 1px solid #fff
}

.recharge .main_container .main_content .input_content .address .swap_list_container .swap_list_item:last-child {
	border-bottom: none
}

.recharge .main_container .main_content .input_content .address .swap_list_container .swap_list_item .swap_coin_icon {
	margin-right: 24rpx;
	width: 32rpx
}

.recharge .main_container .main_content .input_content .img_swap_content {
	margin-top: 32rpx;
	padding-left: 32rpx
}

.recharge .main_container .main_content .input_content .img_swap_content .icon_swap {
	width: 32rpx;
	vertical-align: middle
}

.recharge .main_container .main_content .send_action {
	margin: 0 auto;
	margin-top: 88rpx;
	width: 446rpx;
	height: 88rpx;
	line-height: 88rpx;
	text-align: center;
	color: #fff;
	background: #1652f0;
	border-radius: 20rpx
}

.recharge .main_container .main_content .send_tips {
	margin-top: 44rpx;
	padding: 0 12rpx;
	font-size: 24rpx;
	color: #5f6775
}

.recharge .main_container .tips {
	margin-top: 40rpx;
	padding: 0 12rpx
}

.recharge .main_container .tips .tips_title {
	text-align: center
}

.recharge .main_container .tips .tips_content {
	margin-top: 16rpx;
	font-size: 26rpx;
	color: #353f52
}

.recharge .main_container .single_tips {
	margin-top: 40rpx;
	text-align: center;
	color: #5f6775;
	font-size: 24rpx
}

.recharge .main_container .authentication {
	position: fixed;
	left: 52rpx;
	right: 52rpx;
	bottom: 4rpx;
	margin-top: 40rpx
}

.recharge .main_container .authentication .authentication_content {
	height: 88rpx;
	line-height: 88rpx;
	background: #f3f4f6;
	border-radius: 20rpx;
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: 0 32rpx
}

.recharge .main_container .authentication .authentication_content .info {
	display: flex;
	align-content: center;
	align-items: center;
	color: #5b616e
}

.recharge .main_container .authentication .authentication_content .info .icon {
	width: 58rpx;
	margin-right: 8rpx
}

.recharge .main_container .authentication .authentication_content .go_btn {
	height: 56rpx;
	line-height: 56rpx;
	background: #fff;
	border-radius: 14rpx;
	padding: 0 32rpx;
	color: #353f52
}

.recharge .popup_container .google_popup {
	position: fixed;
	width: 100%;
	height: 100%;
	background: 0 0
}

.recharge .popup_container .google_popup .google_container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	width: 638rpx;
	height: 644rpx;
	background: #fff;
	border-radius: .2rem;
	padding: .32rem;
	box-sizing: border-box
}

.recharge .popup_container .google_popup .google_container .google_content .title {
	position: relative;
	padding-top: 12rpx;
	text-align: center
}

.recharge .popup_container .google_popup .google_container .google_content .title .icon_clock {
	margin-bottom: 56rpx;
	width: 126rpx
}

.recharge .popup_container .google_popup .google_container .google_content .title .close {
	position: absolute;
	right: 0;
	top: 0
}

.recharge .popup_container .google_popup .google_container .google_content .title .close image {
	width: 32rpx;
	height: 32rpx;
}

.recharge .popup_container .google_popup .google_container .google_content .code_content {
	margin-top: 32rpx;
	height: 80rpx;
	background: #fff;
	box-shadow: 6px 12px 20px 0 rgba(0, 0, 0, .1);
	border-radius: 20rpx;
	padding: 24rpx
}

.recharge .popup_container .google_popup .google_container .google_content .submit_content {
	margin-top: 64rpx;
	text-align: center
}

.recharge .popup_container .google_popup .google_container .google_content .submit_content .submit {
	display: inline-block;
	width: 446rpx;
	height: 92rpx;
	line-height: 92rpx;
	background: #1652f0;
	border-radius: 20rpx;
	color: #fff
}