.share {
	padding-bottom: 1.64rem
}

.share .header {
	padding: .32rem .4rem
}

.share .header img {
	width: .4rem
}

.share .share_img_content {
	margin-top: .64rem;
	text-align: center
}

.share .share_img_content .img_share {
	width: 5.3rem;
	height: auto
}

.share .share_info_content {
	margin-top: .56rem;
	padding: 0 .48rem;
	text-align: center
}

.share .share_info_content .share_subtitle {
	margin-top: .32rem
}

.share .address_container {
	margin-top: .56rem;
	padding: 0 .48rem
}

.share .address_container .address_content {
	border-radius: .1rem;
	border: 1px solid hsla(0, 0%, 59.2%, .51);
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center;
	padding: .16rem .22rem .16rem .24rem
}

.share .address_container .address_content .address_value {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap
}

.share .address_container .address_content .copy {
	margin-left: .3rem;
	padding: .2rem .3rem;
	border-radius: .1rem;
	word-break: keep-all;
	border: 1px solid hsla(0, 0%, 59.2%, .51)
}

.share .submit_container {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	height: 1.32rem;
	background: #fff;
	padding: 0 .48rem
}

.share .submit_container .submit_btn {
	margin-top: .24rem;
	height: 1.04rem;
	line-height: 1.04rem;
	background: #1652f0;
	border-radius: .14rem;
	color: #fff;
	font-size: .36rem;
	text-align: center
}