.account .header {
	padding: .24rem 0 0 .4rem
}

.account .header .back {
	width: .6rem
}

.account .title_container {
	margin-top: .32rem;
	padding: 0 .4rem;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: space-between
}

.account .title_container .title_info .subtitle {
	margin-top: .12rem
}

.account .title_container .title_img {
	width: 1.64rem;
	height: auto
}

.account .wallte_select .title {
	margin-top: .24rem;
	position: relative
}

.account .wallte_select .title .value {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background: #fff;
	height: .36rem;
	padding: 0 .12rem 0 .4rem
}

.account .wallte_select .title .select_line {
	position: relative;
	top: .1rem;
	width: 100%;
	height: .02rem;
	background: hsla(0, 0%, 84.7%, .5)
}

.account .wallte_select .wallet_list .wallet_item {
	margin-top: .38rem;
	padding: 0 .4rem .38rem;
	border-bottom: 1px solid hsla(0, 0%, 84.7%, .5);
	display: flex;
	justify-content: space-between;
	align-content: center;
	align-items: center
}

.account .wallte_select .wallet_list .wallet_item .item_info {
	display: flex;
	align-content: center;
	align-items: center
}

.account .wallte_select .wallet_list .wallet_item .item_info .icon {
	margin-right: .32rem;
	width: .64rem;
	height: .64rem;
	border-radius: 50%
}

.account .wallte_select .wallet_list .wallet_item .item_info .info .subtitle {
	margin-top: .08rem
}

.account .wallte_select .wallet_list .wallet_item .item_value {
	text-align: right
}

.account .wallte_select .wallet_list .wallet_item .item_value .value_num {
	margin-top: .1rem
}